<div class="card pl-3 pr-3 pr-md-5 pl-md-5">
  <div class="bg-danger card-header card-header-danger mb-3">
    <h4 class="text-white card-title">Změna hesla:</h4>
  </div>

  <form #changePassForm="ngForm" (submit)="this.changePwClicked(changePassForm)">
    <div [class.has-danger]="originalPasswordControl.invalid && originalPasswordControl.dirty"
         [class.has-success]="originalPasswordControl.valid"
         class="form-group">
      <label class="bmd-label-floating" for="originalPassword">Aktuální heslo:</label>
      <input #originalPasswordControl="ngModel"
             [(ngModel)]="this.originalPassword"
             class="form-control" id="originalPassword"
             maxlength="50"
             minlength="8"
             name="originalPassword"
             required
             type="password">

      <span *ngIf="originalPasswordControl.valid" class="form-control-feedback">
                     <i class="material-icons">done</i>
  </span>
      <span *ngIf="originalPasswordControl.invalid && originalPasswordControl.dirty"
            class="material-icons form-control-feedback">clear</span>
      <span *ngIf="originalPasswordControl.invalid && originalPasswordControl.dirty" class="help-block">
      Vyplňte
  </span>
    </div>

    <div [class.has-danger]="newPasswordControl.invalid && newPasswordControl.dirty"
         [class.has-success]="newPasswordControl.valid"
         class="form-group">
      <label class="bmd-label-floating" for="newPassword">Nové heslo:</label>
      <input #newPasswordControl="ngModel"
             [(ngModel)]="this.newPassword"
             class="form-control" id="newPassword"
             maxlength="50"
             minlength="8"
             name="newPassword"
             required
             type="password">

      <span *ngIf="newPasswordControl.valid" class="form-control-feedback">
                     <i class="material-icons">done</i>
                   </span>
      <span *ngIf="newPasswordControl.invalid && newPasswordControl.dirty" class="material-icons form-control-feedback">clear</span>
      <span *ngIf="newPasswordControl.invalid && newPasswordControl.dirty" class="help-block">
                          Vyplňte
                      </span>
      <span
        *ngIf="newPasswordControl.value!==confirmationPasswordControl.value && newPasswordControl.valid && newPasswordControl.dirty"
        class="help-block text-danger">
                          Hesla se neshodují.
                      </span>

      <span
        *ngIf="newPasswordControl.value===confirmationPasswordControl.value && newPasswordControl.valid && newPasswordControl.dirty"
        class="help-block text-success">
                          Hesla se shodují.
  </span>
    </div>


    <div [class.has-danger]="confirmationPasswordControl.invalid && confirmationPasswordControl.dirty"
         [class.has-success]="confirmationPasswordControl.valid"
         class="form-group">
      <label class="bmd-label-floating" for="confirmationPassword">Nové heslo znovu:</label>
      <input #confirmationPasswordControl="ngModel"
             [(ngModel)]="this.confirmationPassword"
             class="form-control" id="confirmationPassword"
             maxlength="50"
             minlength="8"
             name="confirmationPassword"
             required
             type="password">

      <span *ngIf="confirmationPasswordControl.valid" class="form-control-feedback">
                     <i class="material-icons">done</i>
                   </span>
      <span *ngIf="confirmationPasswordControl.invalid && confirmationPasswordControl.dirty"
            class="material-icons form-control-feedback">clear</span>
      <span
        *ngIf="newPasswordControl.value!==confirmationPasswordControl.value && newPasswordControl.valid && newPasswordControl.dirty"
        class="help-block text-danger">
                          Hesla se neshodují.
                      </span>

      <span
        *ngIf="newPasswordControl.value===confirmationPasswordControl.value && newPasswordControl.valid && newPasswordControl.dirty"
        class="help-block text-success">
                          Hesla se shodují.
  </span>
    </div>


    <div class="offset-4 mb-3">
      <button
        [class.btn-danger]="changePassForm.invalid || newPasswordControl.value!==confirmationPasswordControl.value"
        [class.btn-success]="changePassForm.valid && newPasswordControl.value===confirmationPasswordControl.value"
        class="btn">Změnit heslo
      </button>
    </div>
  </form>
  <div class="text-danger text-center">
    <h4 *ngFor="let passwordInf of this.passwordInfo">{{passwordInf}}</h4>
  </div>
</div>
