.gu-mirror {
  cursor: move;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


ol {
  cursor: move;
  padding: 0;
  margin: 0;
}

ol li {
  list-style: none;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
}

.iconHover:hover {
  cursor: pointer;
  color: #B5B5B5 !important;
}

.wishListHolder {
  padding: 0;
  overflow: auto;
  max-height: 32em;
  min-height: 32em;
}

.toggleIcon {
  border: 1px solid lightgray;
  font-size: 1.5em;
}

.toggleIcon:hover {
  cursor: pointer;
  color: #f44336;
}

.chartToggler {
  border-radius: 3px;
  background-color: #999999;
  padding-top: 7px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

.chartToggler:hover {
  cursor: pointer;
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

chart {
  cursor: pointer !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.zoomIcon {
  font-size: 2.2em;
  cursor: pointer;
}

.zoomIcon:hover {
  color: #f44336;
}

.arrow-success {
  font-weight: bold;
  color: #4caf50;
  font-size: 2.7em;
  cursor: pointer;
}

.arrow-success:hover {
  color: #f44336;
}

.arrow-warning {
  font-weight: bold;
  color: #fb8c00;
  font-size: 2.7em;
  cursor: pointer;
}

.arrow-warning:hover {
  color: #f44336;
}
