<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">PM - BackEnd - Developer</h6>
            <h4 class="card-title">Jan Krunčík</h4>
            <p class="card-description">
              Kdyby pod balónky nebyla sytě zelenkavá tráva, ale třeba suchá silnice či beton, možná by bylo vidět
              jejich barevné stíny - to jak přes poloprůsvitné barevné balónky prochází ostré sluneční paprsky. Jenže
              kvůli všudy přítomné trávě jsou stíny balónků sotva vidět, natož aby šlo rozeznat, jakou barvu tyto stíny
              mají..
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Sledovat</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">FrontEnd - Developer</h6>
            <h4 class="card-title">Dominik Špinka</h4>
            <p class="card-description">
              Stále si víceméně drží výšku a ani do stran se příliš nepohybují. Proti slunci to vypadá, že se slunce
              pohybuje k západu rychleji než balónky, a možná to tak skutečně je. Nejeden filozof by mohl tvrdit, že
              balónky se sluncem závodí, ale fyzikové by to jistě vyvrátili. Z fyzikálního pohledu.
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Sledovat</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Dokument - Analytik</h6>
            <h4 class="card-title">Radim Krátký</h4>
            <p class="card-description">
              Inu jak by vypadaly - jako běžné pouťové balónky střední velikosti, tak akorát nafouknuté. Červený se
              vedle modrého a zeleného zdá trochu menší, ale to je nejspíš jen optický klam, a i kdyby byl skutečně o
              něco málo menší, tak vážně jen o trošičku. Vítr skoro nefouká a tak by.
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Sledovat</a>
          </div>
        </div>
      </div>

      <div class="container-fluid">


        <div class="row">

          <div class="col-md-4 offset-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">BackEnd - Developer</h6>
                <h4 class="card-title">Michal Húževka</h4>
                <p class="card-description">
                  Zkrátka široko daleko nikde nic, jen zelenkavá tráva, jasně modrá obloha a tři křiklavě barevné
                  pouťové balónky, které se téměř nepozorovatelně pohupují ani ne moc vysoko, ani moc nízko nad zemí.
                  Kdyby pod balónky nebyla sytě zelenkavá tráva, ale třeba suchá silnice či beton, možná by bylo vidět
                  jejich barevné.
                </p>
                <a class="btn btn-danger btn-round" href="javascript:;">Sledovat</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
