<div id="live-chat">

  <header (click)="this.chatToggler()">
    <h4>ŠKKH - helper</h4>
  </header>

  <div class="chat">
    <div class="chat-history">

      <div class="w-100 messageHolder">
        <div class="w-25">ŠKKH {{this.timeNow}}</div>
        <div class="w-75 pl-4"><p class="chat-message-bot">Hi do you need help?</p></div>
      </div>
      <hr>


      <div *ngFor="let messagelist of this.messageList">

        <div *ngIf="messagelist.id===0">


          <div class="w-100 messageHolder">
            <div class="w-75 pr-4"><p class="chat-message-user">{{messagelist.message}}</p></div>
            <div class="w-25">You {{messagelist.time}}</div>
          </div>
          <hr>

        </div>

        <div *ngIf="messagelist.id===1">

          <div class="w-100 messageHolder">
            <div class="w-25">ŠKKH {{messagelist.time}}</div>
            <div class="w-75 pl-4"><p class="chat-message-bot">{{messagelist.message}}</p></div>
          </div>
          <hr>

        </div>


        <div *ngIf="messagelist.id===-1">

          <div class="w-100 messageHolder text-danger">
            <i class="material-icons" style="margin-left: 20%">clear</i>{{messagelist.message}}
          </div>
          <hr>

        </div>
      </div>

      <div *ngIf="this.messageWait" class="col-12 text-center mt-3">ŠKKH is typing...</div>

    </div>


    <div id="chat-mess-send">
      <div id="textSend"><input [(ngModel)]="this.message" class="p-2 border-0 w-100 h-100" id="message"
                                maxlength="200" minlength="1" name="message" placeholder="write something...">
      </div>
      <div class="w-100 h-100" id="buttonSend">
        <i (click)="this.sendMessage(this.message)" *ngIf="!this.showHideSendButton" class="iconSend material-icons"
           id="messageSend"
           style="margin-top: 50%">send</i>
        <div *ngIf="this.showHideSendButton" class="text-success spinner-border" role="status"></div>
      </div>
    </div>

  </div>
</div>
