h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}


/* ---------- LIVE-CHAT ---------- */

fieldset {
  padding: 5px;
}

.chat-message-bot {
  background-color: rgba(63, 127, 191, 0.1);
  border-radius: 10px;
  border: 1px solid #3F7FBF;
  padding: 10px;
  display: inline-block;
  float: right;
  margin-right: 10%;
  max-width: 75%;
  overflow-wrap: break-word;
}


.chat-message-user {
  background-color: rgba(63, 191, 63, 0.1);
  border-radius: 10px;
  border: 1px solid #3FBF3F;
  padding: 10px;
  display: inline-block;
  float: left;
  margin-left: 10%;
  max-width: 75%;
  overflow-wrap: break-word;
}

#chat-mess-send {
  padding: 0;
  border-top-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.2);
  display: flex;

}
#textSend {
  width: 265px;
  background: lightblue;
  /* Just so it's visible */
}
#buttonSend {
  flex: 1;
}

#live-chat {
  bottom: 0;
  font-size: 12px;
  right: 1px;
  position: fixed;
  width: 290px;
  z-index: 50000;
}

#live-chat header {
  background-color: #f44336;
  border-color: #f44336;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 1.2em;
}

#live-chat h5 {
  font-size: 1.1em;
}

#live-chat form {
  padding: 24px;
}

.chat {
  border-left: 1px solid lightgray;
  display: none;
  background: #fff;
}

.chat-history {
  height: 252px;
  padding: 8px;
  overflow-y: scroll;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.iconSend {
  color: #f44336;
}

.iconSend:hover {
  color: #3FBF3F;
  cursor: pointer;
}

.spinner-border {
  width: 1.5em;
  height: 1.5em;
}

textarea::-webkit-scrollbar {
  width: 1px;
}


.messageHolder {
  padding: 0;
  overflow: hidden;
  display: flex;
}

