.colorMinusFive {
  color: rgba(244, 67, 54, 0.8);
}

.colorMinusTwo {
  color: rgba(0, 188, 212, 0.8);
}

.colorZero {
  color: rgba(76, 175, 80, 0.8);
}

.colorPlusTwo {
  color: rgba(26, 117, 255, 0.8);
}

.colorPlusFive {
  color: rgba(0, 128, 0, 0.8);
}

td {
  text-align: center;
}

@media only screen and (max-width: 1400px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc !important;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50% !important;
    padding-right: 1%;
    text-align: right;
    white-space: normal !important;
  }

  td:first-child {
    text-align: left !important;
    padding-left: 5px !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 6px;
    width: 45%;
    padding-left: 5px !important;
    padding-right: 10px !important;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  td:before {
    content: attr(data-title);
  }
}
