<div class="card card-chart">


  <div *ngIf="this.display === 'chart'" class="card-header card-header-success">
    <div class="float-left pull-right ct-chart">Lineární graf - měsíční vývoj</div>
    <div class="pull-right" style="display: inline-block">
      <i (click)="this.minimize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Minimalizovat">remove</i>
      <i (click)="this.minusSize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Zmenšit">zoom_out</i>
      <i (click)="this.plusSize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Zvětšit">zoom_in</i>
      <i (click)="this.maximize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Maximalizovat">fullscreen</i>
      <i (click)="this.closeChart('monthLinear')" class="zoomIcon material-icons">clear</i>
    </div>
  </div>
  <div *ngIf="this.display === 'chart'" class="card-body">
    <chart [data]="this.data" [ngStyle]="{'height': 20*0.19*this.linearMonthChartSize + 'em'}" [options]="this.options"
           [type]="this.type"></chart>
  </div>

  <div *ngIf="this.display === 'result'" class="card-header card-header-success">
    <div class="float-left pull-right ct-chart">Následující přání si můžete splnit do <span
      class="font-weight-bold text-danger">{{this.monthPlan.monthlyOverviewMinus25List.length}}</span> měsíců.
    </div>
    <div class="pull-right" style="display: inline-block">
      <i (click)="this.minimize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Minimalizovat">remove</i>
      <i (click)="this.minusSize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Zmenšit">zoom_out</i>
      <i (click)="this.plusSize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Zvětšit">zoom_in</i>
      <i (click)="this.maximize()" class="zoomIcon material-icons" hide-delay="0" tooltip="Maximalizovat">fullscreen</i>
      <i (click)="this.closeChart('monthLinear')" class="zoomIcon material-icons">clear</i>
    </div>
  </div>
  <div *ngIf="this.display === 'result'" class="card-body">
    <app-month-result [monthPlan]="this.monthPlan"
                      [size]="this.linearMonthChartSize"></app-month-result>
  </div>


  <div class="card-footer">
    <div class="pull-center">
      <i (click)="this.removeMonth()" [hidden]="this.display === 'result'" class="arrow-success material-icons"
         hide-delay="0" tooltip="Odebrat měsíc">arrow_back</i>
    </div>
    <div class="pull-center">
      <i (click)="this.display = 'result'" [hidden]="this.display === 'result' || this.numberOfItems === 0"
         class="arrow-success text-danger material-icons" hide-delay="0" tooltip="Zobrazit výsledky">subject</i>
      <i (click)="this.display = 'chart'" [hidden]="this.display === 'chart'"
         class="arrow-success text-danger material-icons" hide-delay="0" tooltip="Zobrazit graf">show_chart</i>
    </div>
    <div class="pull-right">
      <i (click)="this.addMonth()" [hidden]="this.display === 'result'" class="arrow-success material-icons"
         hide-delay="0" tooltip="Přidat měsíc">arrow_forward</i>
    </div>
  </div>

</div>




