<div class="content">
  <div class="container-fluid">
    <div class="card col-md-12">

      <div class="bg-danger card-header card-header-danger">
        <h4 class="text-white card-title">Přístup zamítnut</h4>
      </div>


      <div class="card-body"><h4>Pro přístup je nutné se přihlásit.</h4></div>


    </div>
  </div>
</div>
