<div class="content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart">Adresa společnosti</div>
          </div>
          <div class="card-body">

            <div class="z-depth-1-half map-container-5" id="map-container-google-9" style="height: 300px">
              <iframe
                allowfullscreen=""
                aria-hidden="false" height="450"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2553.724062548444!2d15.827845116296464!3d50.20368857944219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c2b34870002db%3A0xb60b1af457f3fbb2!2sUniversity%20of%20Hradec%20Kr%C3%A1lov%C3%A9%20%E2%80%93%20building%20A!5e0!3m2!1sen!2scz!4v1584104638619!5m2!1sen!2scz"
                style="border:0;" tabindex="0"
                width="600"></iframe>
            </div>

          </div>
        </div>
      </div>

      <div class="row col-md-12" id="bottInfo">
        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">home</i>

            </div>
            <div class="card-body p-0">
              <h6 class="card-category text-gray">Adresa</h6>
              <p class="card-description">
                Hradecká 1227/4
                <br/>
                Hradec Králové, 500 11
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">email</i>

            </div>
            <div class="card-body p-0">
              <h6 class="card-category text-gray">Email</h6>
              <p class="card-description">
                info@skkh.cz
                <br/>
                reditel@skkh.cz
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">phone</i>

            </div>

            <div class="card-body p-0">
              <h6 class="card-category text-gray">Kontakt</h6>
              <p class="card-description">
                Tel: +420 123 456 789
                <br/>
                Fax: 0161 999 8888
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>
</div>

