.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


@media (min-width: 768px) {
  #bottInfo {
    padding-left: 20%;
  }
}

@media (min-width: 1200px) {
  #bottInfo {
    padding-left: 25%;
  }
}
