<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Neexistující stránka</h4>
            <p class="card-category">Tato stránka neexistuje</p>
          </div>
          <div class="p-5 card-body">
            <h4>Použijte menu pro návrat na naši stránku.
              <br/>
              <br/>
              Děkujeme.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
