.content {
  margin-top: 8%;
}

a {
  cursor: pointer;
}

.link:hover {
  background-color: #f44336 !important;
}

.content {
  margin-top: 5em;
}

.loader-box {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}

.btn-danger, .btn-success {
  cursor: pointer;
}

.btn-charts-next {
  cursor: pointer;
  color: white;
  background-color: #ff9800;
  border-color: gray;
}

.btn-charts-next:hover {
  background-color: rgba(255, 152, 0, 0.8);
}

.bg-charts {
  background-color: #ff9800 !important;
}


.btn-charts-prev {
  cursor: pointer;
  color: white;
  background-color: brown;
  border-color: gray;
}

.btn-charts-prev:hover {
  background-color: rgba(165, 42, 42, 0.9);
}
