<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">ŠKKH - Finance</h4>
            <p class="card-category">Prohlédněte si naše služby.</p>
          </div>

          <div class="p-5 card-body">
            <div class="paragraph-title-1">Co poskytujeme?</div>
            <p class="paragraph-content">Naše aplikace poskytuje obecný přehled z hlediska financí a finančního
              plánování.</p>
            <span class="pl-2">Poskytujeme:</span>
            <ul>
              <li>Měsíční přehled pohybu na Vašem bankovním účtu.</li>
              <li>Přehled veškerých transakcí ke konkrétnímu datu.</li>
              <li>Detailní plánování budoucích investicí.</li>
            </ul>
            <p class="paragraph-content">Aplikace je připojena k bankovnímu systému, ze kterého se získávají údaje k
              platbám.
              Tyto údaje jsou zobrazeny do grafů a při filtrování ke konkrétnímu datu do tabulek. S těmito údaji lze
              dále vytvářet plánování, ve kterém získáte detailní přehled svých příjmů zahrnující plánované investice.
              Výstupem plánování získáte měsíc či rok, kdy můžete danou plánovanou investici uskutečnit.
            </p>


            <div class="paragraph-title-1">Jak to funguje?</div>
            <div class="paragraph-title-2">Registrace</div>
            <p class="paragraph-content">
              Pro přístup k funkcím našeho portálu je zapotřebí si vytvořit bezplatný účet. Pro regitraci lze použít
              menu,
              ve kterém se nachází odkaz k registraci. Po úspěšném vyplnění potřebných údajů k registraci použijete v
              menu odkaz
              k přihlášení, následně se objeví okno, ve kterém své údaje vyplníte.
            </p>
            <div class="paragraph-title-2">Přihlášení</div>
            <p class="paragraph-content">
              Pro přihlášení klikněte v menu na položku Přihlášení. Zadejte svůj email a heslo zvolené při registraci.
            </p>
            <div class="paragraph-title-2">Úprava profilu</div>
            <p class="paragraph-content">
              Po úspěšném přihlášení se objeví v pravém horním rohu ikona symbolizující Váš profil, v této části si
              můžete upravit,
              či doplnit potřebné údaje. Dále v této sekci naleznete změnu hesla a možnost smazání účtu.
            </p>
            <div class="paragraph-title-2">Můj přehled</div>
            <p class="paragraph-content">
              Přihlášený uživatel získává přístup srkze menu do sekce Můj přehled.
            </p>
            <span class="pl-2">Tato část se dělí na 2 části:</span>
            <ul>
              <li>Přehled úspor</li>
              <li>Přehled transakcí</li>
            </ul>

            <div class="paragraph-title-3">Přehled úspor</div>
            <p class="paragraph-content">
              Pro přístup do této sekce je nutné vyplnit číslo vašeho účtu. Jakmile tak učiníte, aplikace vypočítá
              Váš měsíční pohyb na bankovním účtu, vyhodnotí čistý měsíční zisk a celý měsíční pohyb zobrazí do grafu.
              <br/>
              Zobrazená data jsou počítána a zobrazena vždy za předchozí měsíc. Ovšem pokud nebudete mít nastavené
              transakce,
              nezoufejte, své měsíční příjmy můžete změnit pomocí kolonky nacházející se pod grafem měsíčního pohybu
              (pro zobrazení
              tohoto grafu použijete ikonu).
              <br/><br/>
              Vaše měsíční příjmy musí být kladné, nenulové. Po možné úpravě příjmu je zde kolonka pro nastavení Vaší
              možné naspořené částky.
              Tato částka může být i nulová.
              <br/><br/>
              Jakmile nastavíte zmíněné údaje, proběhne zobrazení 4 grafů. Každý si může zvolit typ grafu, který
              preferuje, z nabídky je zde
              sloupcový a lineární graf. Grafy zobrazují budoucí stav Vašeho konta. Tento stav je zobrazen s určitou
              tolerancí. Na výběr je
              hned z 5 možných (-5%, -2.5%, 0%, 2.5%, 5%). Tyto tolerance slouží k zobrazení možného výkyvu Vašeho
              čistého příjmu.
              <br><br>
              Tato tolerance lze v grafu filtrovat a to tak, že klikneme na vybranou legendu (v horní části grafu).
              <br/><br/>
              Tedy např. -5% reprezentuje, že se Váš měsíční příjem sníží o 5%, naopak 2.5% reprezentuje, že se Váš
              měsíční příjem zvýší o 2.5%.
              <br/><br/>
              Další možností je využití listu přání. Tento list slouží k naplánování Vaší budoucí investice. Pokud tato
              přání vložíte do listu,
              grafy se automaticky změní dle Vašeho zadání, výsledkem bude zobrazení do grafu, kdy si dané přání můžete
              splnit.
              <br>
              Přání v listu si lze přetažením uspořádat. Platí pravidlo, že přání seřazné nejvýše, má nejvyšší prioritu
              a požadujete, aby toto přání bylo splněno jako první.
              <br><br>
              Pokud nechcete zobrazit graf, můžete si zobrazit pouze výsledky, které jsou reprezentovány pomocí měsíce a
              roku, kdy si dané
              přání můžete splnit. Plánování vždy zahrunuje 30 měsíců do budoucna a v případě ročních grafů 30 let.
              <br><br>
              Všechny grafy lze přízpůsobovat dle potřeby a lze je přesouvat.
            </p>

            <div class="paragraph-title-3">Přehled transakcí</div>
            <p class="paragraph-content">
              V části přehledu transakcí stačí vyplnit časové období, ze kterého chcete zobrazit veškeré transakce.
              <br><br>
              Po vyplnění těchto dvou údajů, se zobrazí tabulka, která bude obsahovat veškeré transakce provedené v
              tomto časovém intervalu.
              Jako popis transakce budou zobrazeny následující data:
            </p>

            <ul>
              <li>Částka</li>
              <li>Popis transakce</li>
              <li>Typ platby</li>
              <li>Typ transakce</li>
              <li>Den zaúčtování</li>
              <li>Konstantní, variabilní a specifický symbol</li>
            </ul>
            <div class="paragraph-title-1">Nevíte si rady?</div>
            <div class="paragraph-title-2">Chatbot</div>
            <p class="paragraph-content">
              Pokud si nevíte rady, neváhejte nás kontaktovat, nebo použijte našeho chatbota. Komunikaci je možné začít
              kliknutím na okno v pravé dolní části.
            </p>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>



